In [1]:
import pandas as pd
import random
import numpy as np
file_to_load = '../data/locations2.csv'

In [2]:
df = pd.read_csv(file_to_load)
df

,id,name,rating,user_ratings_total,latitude,longitude,types1,types2,types3,types4,types5,types6,types7,latitude_region,user_input
0,706,Mikado Ryotei,4.5,369.0,30.373440,-97.724686,bar,restaurant,food,point_of_interest,establishment,NaN,NaN,North,False
1,707,To. Austin Archive,0.0,0.0,30.326991,-97.676431,shopping_mall,point_of_interest,establishment,NaN,NaN,NaN,NaN,North,False
2,708,Earl J. Pomerleau Pocket Park,4.3,6.0,30.318483,-97.686791,park,point_of_interest,establishment,NaN,NaN,NaN,NaN,North,False
3,711,Jim Ernst Interest,0.0,0.0,30.401356,-97.752535,point_of_interest,establishment,NaN,NaN,NaN,NaN,NaN,North,False
4,716,La Placita,4.4,241.0,30.194589,-97.745189,restaurant,food,point_of_interest,establishment,NaN,NaN,NaN,Central,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
536,565,Oak Acres,4.8,5.0,30.237034,-97.846914,shopping_mall,point_of_interest,establishment,NaN,NaN,NaN,NaN,North,False
537,260,Burgerlicious,5.0,18.0,30.272704,-97.728530,restaurant,food,point_of_interest,establishment,NaN,NaN,NaN,North,False
538,580,P Men's Club,5.0,5.0,30.219131,-97.758263,bar,point_of_interest,establishment,NaN,NaN,NaN,NaN,North,False
539,5014,NaN,NaN,NaN,0.000000,0.000000,NaN,none,none,none,none,none,none,NaN,True
540,5047,NaN,NaN,NaN,0.000000,0.000000,NaN,none,none,none,none,none,none,NaN,True

In [3]:
df= df[df['user_ratings_total'] != 0]

In [4]:
df

,id,name,rating,user_ratings_total,latitude,longitude,types1,types2,types3,types4,types5,types6,types7,latitude_region,user_input
0,706,Mikado Ryotei,4.5,369.0,30.373440,-97.724686,bar,restaurant,food,point_of_interest,establishment,NaN,NaN,North,False
2,708,Earl J. Pomerleau Pocket Park,4.3,6.0,30.318483,-97.686791,park,point_of_interest,establishment,NaN,NaN,NaN,NaN,North,False
4,716,La Placita,4.4,241.0,30.194589,-97.745189,restaurant,food,point_of_interest,establishment,NaN,NaN,NaN,Central,False
5,717,Dittmar District Park,4.4,297.0,30.182571,-97.799721,park,tourist_attraction,point_of_interest,establishment,NaN,NaN,NaN,Central,False
6,719,Rosa's Café & Tortilla Factory,4.2,1305.0,30.171329,-97.799098,restaurant,meal_takeaway,food,point_of_interest,establishment,NaN,NaN,Central,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
536,565,Oak Acres,4.8,5.0,30.237034,-97.846914,shopping_mall,point_of_interest,establishment,NaN,NaN,NaN,NaN,North,False
537,260,Burgerlicious,5.0,18.0,30.272704,-97.728530,restaurant,food,point_of_interest,establishment,NaN,NaN,NaN,North,False
538,580,P Men's Club,5.0,5.0,30.219131,-97.758263,bar,point_of_interest,establishment,NaN,NaN,NaN,NaN,North,False
539,5014,NaN,NaN,NaN,0.000000,0.000000,NaN,none,none,none,none,none,none,NaN,True
540,5047,NaN,NaN,NaN,0.000000,0.000000,NaN,none,none,none,none,none,none,NaN,True

In [5]:
df= df[df['latitude'] != 0]
df

,id,name,rating,user_ratings_total,latitude,longitude,types1,types2,types3,types4,types5,types6,types7,latitude_region,user_input
0,706,Mikado Ryotei,4.5,369.0,30.373440,-97.724686,bar,restaurant,food,point_of_interest,establishment,NaN,NaN,North,False
2,708,Earl J. Pomerleau Pocket Park,4.3,6.0,30.318483,-97.686791,park,point_of_interest,establishment,NaN,NaN,NaN,NaN,North,False
4,716,La Placita,4.4,241.0,30.194589,-97.745189,restaurant,food,point_of_interest,establishment,NaN,NaN,NaN,Central,False
5,717,Dittmar District Park,4.4,297.0,30.182571,-97.799721,park,tourist_attraction,point_of_interest,establishment,NaN,NaN,NaN,Central,False
6,719,Rosa's Café & Tortilla Factory,4.2,1305.0,30.171329,-97.799098,restaurant,meal_takeaway,food,point_of_interest,establishment,NaN,NaN,Central,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
534,378,Heritage Oaks Neighborhood Park,4.7,43.0,30.234326,-97.737227,park,tourist_attraction,point_of_interest,establishment,NaN,NaN,NaN,North,False
535,287,Centre North,3.6,16.0,30.351838,-97.709802,shopping_mall,point_of_interest,establishment,NaN,NaN,NaN,NaN,North,False
536,565,Oak Acres,4.8,5.0,30.237034,-97.846914,shopping_mall,point_of_interest,establishment,NaN,NaN,NaN,NaN,North,False
537,260,Burgerlicious,5.0,18.0,30.272704,-97.728530,restaurant,food,point_of_interest,establishment,NaN,NaN,NaN,North,False
538,580,P Men's Club,5.0,5.0,30.219131,-97.758263,bar,point_of_interest,establishment,NaN,NaN,NaN,NaN,North,False

In [6]:
df=df.drop(columns=["user_input"])

In [7]:
df

,id,name,rating,user_ratings_total,latitude,longitude,types1,types2,types3,types4,types5,types6,types7,latitude_region
0,706,Mikado Ryotei,4.5,369.0,30.373440,-97.724686,bar,restaurant,food,point_of_interest,establishment,NaN,NaN,North
2,708,Earl J. Pomerleau Pocket Park,4.3,6.0,30.318483,-97.686791,park,point_of_interest,establishment,NaN,NaN,NaN,NaN,North
4,716,La Placita,4.4,241.0,30.194589,-97.745189,restaurant,food,point_of_interest,establishment,NaN,NaN,NaN,Central
5,717,Dittmar District Park,4.4,297.0,30.182571,-97.799721,park,tourist_attraction,point_of_interest,establishment,NaN,NaN,NaN,Central
6,719,Rosa's Café & Tortilla Factory,4.2,1305.0,30.171329,-97.799098,restaurant,meal_takeaway,food,point_of_interest,establishment,NaN,NaN,Central
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
534,378,Heritage Oaks Neighborhood Park,4.7,43.0,30.234326,-97.737227,park,tourist_attraction,point_of_interest,establishment,NaN,NaN,NaN,North
535,287,Centre North,3.6,16.0,30.351838,-97.709802,shopping_mall,point_of_interest,establishment,NaN,NaN,NaN,NaN,North
536,565,Oak Acres,4.8,5.0,30.237034,-97.846914,shopping_mall,point_of_interest,establishment,NaN,NaN,NaN,NaN,North
537,260,Burgerlicious,5.0,18.0,30.272704,-97.728530,restaurant,food,point_of_interest,establishment,NaN,NaN,NaN,North
538,580,P Men's Club,5.0,5.0,30.219131,-97.758263,bar,point_of_interest,establishment,NaN,NaN,NaN,NaN,North

In [8]:
df.to_csv('../data/location3.csv', index=False)

In [9]:
df['types'] = df[df.columns[6:13]].apply(
    lambda x: ','.join(x.dropna().astype(str)),
    axis=1
)
df

,id,name,rating,user_ratings_total,latitude,longitude,types1,types2,types3,types4,types5,types6,types7,latitude_region,types
0,706,Mikado Ryotei,4.5,369.0,30.373440,-97.724686,bar,restaurant,food,point_of_interest,establishment,NaN,NaN,North,"bar, restaurant, food, point_of_interest, esta..."
2,708,Earl J. Pomerleau Pocket Park,4.3,6.0,30.318483,-97.686791,park,point_of_interest,establishment,NaN,NaN,NaN,NaN,North,"park, point_of_interest, establishment"
4,716,La Placita,4.4,241.0,30.194589,-97.745189,restaurant,food,point_of_interest,establishment,NaN,NaN,NaN,Central,"restaurant, food, point_of_interest, establish..."
5,717,Dittmar District Park,4.4,297.0,30.182571,-97.799721,park,tourist_attraction,point_of_interest,establishment,NaN,NaN,NaN,Central,"park, tourist_attraction, point_of_interest, e..."
6,719,Rosa's Café & Tortilla Factory,4.2,1305.0,30.171329,-97.799098,restaurant,meal_takeaway,food,point_of_interest,establishment,NaN,NaN,Central,"restaurant, meal_takeaway, food, point_of_inte..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
534,378,Heritage Oaks Neighborhood Park,4.7,43.0,30.234326,-97.737227,park,tourist_attraction,point_of_interest,establishment,NaN,NaN,NaN,North,"park, tourist_attraction, point_of_interest, e..."
535,287,Centre North,3.6,16.0,30.351838,-97.709802,shopping_mall,point_of_interest,establishment,NaN,NaN,NaN,NaN,North,"shopping_mall, point_of_interest, establishment"
536,565,Oak Acres,4.8,5.0,30.237034,-97.846914,shopping_mall,point_of_interest,establishment,NaN,NaN,NaN,NaN,North,"shopping_mall, point_of_interest, establishment"
537,260,Burgerlicious,5.0,18.0,30.272704,-97.728530,restaurant,food,point_of_interest,establishment,NaN,NaN,NaN,North,"restaurant, food, point_of_interest, establish..."
538,580,P Men's Club,5.0,5.0,30.219131,-97.758263,bar,point_of_interest,establishment,NaN,NaN,NaN,NaN,North,"bar, point_of_interest, establishment"

In [10]:
df.to_csv('../data/location3.csv', index=False)