In [1]:

import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.metrics import mean_squared_error
from sklearn.svm import LinearSVR
from sklearn.model_selection import cross_validate
from sklearn.model_selection import KFold
from sklearn.preprocessing import LabelEncoder

In [2]:
df = pd.read_csv("../data/location3.csv").set_index("name")

In [3]:
df

,id,rating,user_ratings_total,latitude,longitude,types1,types2,types3,types4,types5,types6,types7,latitude_region,types
name,,,,,,,,,,,,,,
Mikado Ryotei,706,4.5,369.0,30.373440,-97.724686,bar,restaurant,food,point_of_interest,establishment,NaN,NaN,North,"bar, restaurant, food, point_of_interest, esta..."
Earl J. Pomerleau Pocket Park,708,4.3,6.0,30.318483,-97.686791,park,point_of_interest,establishment,NaN,NaN,NaN,NaN,North,"park, point_of_interest, establishment"
La Placita,716,4.4,241.0,30.194589,-97.745189,restaurant,food,point_of_interest,establishment,NaN,NaN,NaN,Central,"restaurant, food, point_of_interest, establish..."
Dittmar District Park,717,4.4,297.0,30.182571,-97.799721,park,tourist_attraction,point_of_interest,establishment,NaN,NaN,NaN,Central,"park, tourist_attraction, point_of_interest, e..."
Rosa's Café & Tortilla Factory,719,4.2,1305.0,30.171329,-97.799098,restaurant,meal_takeaway,food,point_of_interest,establishment,NaN,NaN,Central,"restaurant, meal_takeaway, food, point_of_inte..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Heritage Oaks Neighborhood Park,378,4.7,43.0,30.234326,-97.737227,park,tourist_attraction,point_of_interest,establishment,NaN,NaN,NaN,North,"park, tourist_attraction, point_of_interest, e..."
Centre North,287,3.6,16.0,30.351838,-97.709802,shopping_mall,point_of_interest,establishment,NaN,NaN,NaN,NaN,North,"shopping_mall, point_of_interest, establishment"
Oak Acres,565,4.8,5.0,30.237034,-97.846914,shopping_mall,point_of_interest,establishment,NaN,NaN,NaN,NaN,North,"shopping_mall, point_of_interest, establishment"
Burgerlicious,260,5.0,18.0,30.272704,-97.728530,restaurant,food,point_of_interest,establishment,NaN,NaN,NaN,North,"restaurant, food, point_of_interest, establish..."
P Men's Club,580,5.0,5.0,30.219131,-97.758263,bar,point_of_interest,establishment,NaN,NaN,NaN,NaN,North,"bar, point_of_interest, establishment"

In [4]:
types_list=df.types.unique()
types_list

array(['bar, restaurant, food, point_of_interest, establishment',
       'park, point_of_interest, establishment',
       'restaurant, food, point_of_interest, establishment',
       'park, tourist_attraction, point_of_interest, establishment',
       'restaurant, meal_takeaway, food, point_of_interest, establishment',
       'point_of_interest, establishment',
       'cemetery, tourist_attraction, park, point_of_interest, establishment',
       'shopping_mall, point_of_interest, establishment',
       'car_repair, point_of_interest, store, establishment',
       'restaurant, food, point_of_interest, store, establishment',
       'tourist_attraction, point_of_interest, establishment',
       'restaurant, bar, food, point_of_interest, establishment',
       'tourist_attraction, park, point_of_interest, establishment',
       'bar, point_of_interest, establishment',
       'bar, restaurant, food, point_of_interest, store, establishment',
       'tourist_attraction, museum, point_of_interest, establishment',
       'museum, tourist_attraction, point_of_interest, establishment',
       'art_gallery, tourist_attraction, museum, point_of_interest, establishment',
       'point_of_interest, clothing_store, store, establishment',
       'museum, point_of_interest, establishment',
       'night_club, meal_takeaway, bar, restaurant, food, point_of_interest, establishment',
       'aquarium, tourist_attraction, museum, point_of_interest, establishment',
       'bakery, restaurant, food, point_of_interest, store, establishment',
       'home_goods_store, point_of_interest, clothing_store, store, establishment',
       'tourist_attraction, travel_agency, point_of_interest, establishment',
       'meal_takeaway, restaurant, food, point_of_interest, establishment',
       'church, place_of_worship, point_of_interest, establishment',
       'hair_care, jewelry_store, point_of_interest, store, establishment',
       'meal_takeaway, cafe, restaurant, food, point_of_interest, store, establishment',
       'cafe, restaurant, food, point_of_interest, establishment',
       'tourist_attraction, natural_feature, point_of_interest, establishment',
       'shopping_mall, car_wash, point_of_interest, establishment',
       'real_estate_agency, point_of_interest, establishment',
       'meal_delivery, meal_takeaway, restaurant, food, point_of_interest, establishment',
       'restaurant, cafe, food, point_of_interest, store, establishment',
       'shopping_mall, grocery_or_supermarket, restaurant, food, point_of_interest, store, establishment',
       'supermarket, gas_station, grocery_or_supermarket, liquor_store, restaurant, food, point_of_interest',
       'movie_theater, point_of_interest, establishment',
       'tourist_attraction, church, place_of_worship, point_of_interest, establishment',
       'finance, point_of_interest, store, establishment',
       'bakery, bar, restaurant, food, point_of_interest, store, establishment',
       'cafe, bar, restaurant, food, point_of_interest, store, establishment',
       'tourist_attraction, local_government_office, point_of_interest, establishment',
       'meal_takeaway, bar, restaurant, food, point_of_interest, establishment'],
      dtype=object)

In [5]:
# index=1
# types_dict={}
# for i in types_list:
#     types_dict[index]=i
#     index+=1

In [6]:
# types_dict

In [7]:
# df=df.assign(
#         types=lambda df: df["types"].replace(
#             types_dict)
#         )

In [8]:
df

,id,rating,user_ratings_total,latitude,longitude,types1,types2,types3,types4,types5,types6,types7,latitude_region,types
name,,,,,,,,,,,,,,
Mikado Ryotei,706,4.5,369.0,30.373440,-97.724686,bar,restaurant,food,point_of_interest,establishment,NaN,NaN,North,"bar, restaurant, food, point_of_interest, esta..."
Earl J. Pomerleau Pocket Park,708,4.3,6.0,30.318483,-97.686791,park,point_of_interest,establishment,NaN,NaN,NaN,NaN,North,"park, point_of_interest, establishment"
La Placita,716,4.4,241.0,30.194589,-97.745189,restaurant,food,point_of_interest,establishment,NaN,NaN,NaN,Central,"restaurant, food, point_of_interest, establish..."
Dittmar District Park,717,4.4,297.0,30.182571,-97.799721,park,tourist_attraction,point_of_interest,establishment,NaN,NaN,NaN,Central,"park, tourist_attraction, point_of_interest, e..."
Rosa's Café & Tortilla Factory,719,4.2,1305.0,30.171329,-97.799098,restaurant,meal_takeaway,food,point_of_interest,establishment,NaN,NaN,Central,"restaurant, meal_takeaway, food, point_of_inte..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Heritage Oaks Neighborhood Park,378,4.7,43.0,30.234326,-97.737227,park,tourist_attraction,point_of_interest,establishment,NaN,NaN,NaN,North,"park, tourist_attraction, point_of_interest, e..."
Centre North,287,3.6,16.0,30.351838,-97.709802,shopping_mall,point_of_interest,establishment,NaN,NaN,NaN,NaN,North,"shopping_mall, point_of_interest, establishment"
Oak Acres,565,4.8,5.0,30.237034,-97.846914,shopping_mall,point_of_interest,establishment,NaN,NaN,NaN,NaN,North,"shopping_mall, point_of_interest, establishment"
Burgerlicious,260,5.0,18.0,30.272704,-97.728530,restaurant,food,point_of_interest,establishment,NaN,NaN,NaN,North,"restaurant, food, point_of_interest, establish..."
P Men's Club,580,5.0,5.0,30.219131,-97.758263,bar,point_of_interest,establishment,NaN,NaN,NaN,NaN,North,"bar, point_of_interest, establishment"

In [9]:
# index=1
# types_dict={}
# for i in types_list:
#     types_dict[i]=index
#     index+=1

In [10]:
# types_dict

In [11]:
# df=df.assign(
#         types=lambda df: df["types"].replace(
#             types_dict)
#         )

In [12]:
df

,id,rating,user_ratings_total,latitude,longitude,types1,types2,types3,types4,types5,types6,types7,latitude_region,types
name,,,,,,,,,,,,,,
Mikado Ryotei,706,4.5,369.0,30.373440,-97.724686,bar,restaurant,food,point_of_interest,establishment,NaN,NaN,North,"bar, restaurant, food, point_of_interest, esta..."
Earl J. Pomerleau Pocket Park,708,4.3,6.0,30.318483,-97.686791,park,point_of_interest,establishment,NaN,NaN,NaN,NaN,North,"park, point_of_interest, establishment"
La Placita,716,4.4,241.0,30.194589,-97.745189,restaurant,food,point_of_interest,establishment,NaN,NaN,NaN,Central,"restaurant, food, point_of_interest, establish..."
Dittmar District Park,717,4.4,297.0,30.182571,-97.799721,park,tourist_attraction,point_of_interest,establishment,NaN,NaN,NaN,Central,"park, tourist_attraction, point_of_interest, e..."
Rosa's Café & Tortilla Factory,719,4.2,1305.0,30.171329,-97.799098,restaurant,meal_takeaway,food,point_of_interest,establishment,NaN,NaN,Central,"restaurant, meal_takeaway, food, point_of_inte..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Heritage Oaks Neighborhood Park,378,4.7,43.0,30.234326,-97.737227,park,tourist_attraction,point_of_interest,establishment,NaN,NaN,NaN,North,"park, tourist_attraction, point_of_interest, e..."
Centre North,287,3.6,16.0,30.351838,-97.709802,shopping_mall,point_of_interest,establishment,NaN,NaN,NaN,NaN,North,"shopping_mall, point_of_interest, establishment"
Oak Acres,565,4.8,5.0,30.237034,-97.846914,shopping_mall,point_of_interest,establishment,NaN,NaN,NaN,NaN,North,"shopping_mall, point_of_interest, establishment"
Burgerlicious,260,5.0,18.0,30.272704,-97.728530,restaurant,food,point_of_interest,establishment,NaN,NaN,NaN,North,"restaurant, food, point_of_interest, establish..."
P Men's Club,580,5.0,5.0,30.219131,-97.758263,bar,point_of_interest,establishment,NaN,NaN,NaN,NaN,North,"bar, point_of_interest, establishment"

In [13]:
target = "rating"

In [14]:
X = df.drop(
    columns=[
        "id",
        "rating",
        "types1",
        "types2",
        "types3",
        "types4",
        "types5",
        "types6",
        "types7",
        "latitude_region",
        "types",
    ],
    axis=1,
).values
y = df[target].values

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=20)

In [16]:
linear_regression = LinearRegression()

In [17]:
linear_regression.fit(X_train, y_train)

LinearRegression()

In [18]:
y_test_pred = linear_regression.predict(X_test)

In [19]:
mean_squared_error(y_test, y_test_pred)

0.39421085512325615

In [20]:
decsion_tree = DecisionTreeRegressor()
decsion_tree.fit(X_train, y_train)
y_test_pred = decsion_tree.predict(X_test)
mean_squared_error(y_test, y_test_pred)

0.6846391752577319

In [21]:
random_forest = RandomForestRegressor()
random_forest.fit(X_train, y_train)
y_test_pred = random_forest.predict(X_test)
mean_squared_error(y_test, y_test_pred)

0.3279386907216495

In [22]:
svr = LinearSVR()
svr.fit(X_train, y_train)
y_test_pred = svr.predict(X_test)
mean_squared_error(y_test, y_test_pred)

/opt/conda/lib/python3.7/site-packages/sklearn/svm/_base.py:977: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

3.6790418260901174

In [23]:
la_placita = (
    df.drop(
        columns=[
            "id",
            "rating",
            "types1",
            "types2",
            "types3",
            "types4",
            "types5",
            "types6",
            "types7",
            "latitude_region",
            "types",
        ],
        axis=1,
    )
    .loc["La Placita"]
    .values
)
random_forest.predict([la_placita])

array([4.329])

In [24]:
df.values.dtype

dtype('O')

In [25]:
X1 = df.drop(
    columns=[
        "id",
        "rating",
        "types1",
        "types2",
        "types3",
        "types4",
        "types5",
        "types6",
        "types7",
        "latitude_region",
    ],
    axis=1,
).values

In [26]:
X1

array([[369.0, 30.37344, -97.724686,
        'bar, restaurant, food, point_of_interest, establishment'],
       [6.0, 30.3184832, -97.6867909,
        'park, point_of_interest, establishment'],
       [241.0, 30.1945888, -97.7451895,
        'restaurant, food, point_of_interest, establishment'],
       ...,
       [5.0, 30.2370336, -97.8469136,
        'shopping_mall, point_of_interest, establishment'],
       [18.0, 30.2727039, -97.7285304,
        'restaurant, food, point_of_interest, establishment'],
       [5.0, 30.2191314, -97.7582626,
        'bar, point_of_interest, establishment']], dtype=object)

In [27]:
X1.dtype

dtype('O')

In [28]:
df["types"] = df["types"].astype("category")

In [29]:
enc = OneHotEncoder(handle_unknown='ignore')

In [30]:
enc_df = pd.DataFrame(enc.fit_transform(df[["types"]]).toarray())

In [31]:
df = df.join(enc_df)

In [32]:
df.to_csv("one_hot_encode.csv")

In [33]:
cf = ColumnTransformer(
    [
        ("numerical", "passthrough", ["user_ratings_total", "latitude", "longitude"],),
        ("categorical", OneHotEncoder(drop="first"), ["types"]),
    ]
)

In [34]:
types = types_list
types_df = pd.DataFrame(types, columns=["type"])

In [35]:
labelencoder = LabelEncoder()

In [36]:
types_df["type"]=labelencoder.fit_transform(types_df["type"])

In [37]:
types_df

    type
0      5
1     23
2     30
3     24
4     32
5     26
6     10
7     35
8      9
9     31
10    42
11    28
12    41
13     4
14     6
15    39
16    21
17     1
18    25
19    20
20    22
21     0
22     3
23    14
24    43
25    18
26    11
27    13
28    17
29     8
30    40
31    33
32    27
33    15
34    29
35    34
36    36
37    19
38    37
39    12
40     2
41     7
42    38
43    16

In [38]:
enc = OneHotEncoder(handle_unknown='ignore')

In [39]:
enc_df=pd.DataFrame(enc.fit_transform(types_df[["type"]]).toarray())

In [40]:
types_df = types_df.join(enc_df)

In [41]:
types_df

,type,0,1,2,3,4,5,6,7,8,...,34,35,36,37,38,39,40,41,42,43
0,5,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,30,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,32,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,26,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,35,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,42,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
11,28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,41,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
13,4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,6,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,39,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
16,21,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,22,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22,3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23,14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24,43,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
25,18,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26,11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27,13,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28,17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29,8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
30,40,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
31,33,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
32,27,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
33,15,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34,29,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
35,34,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
36,36,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
37,19,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
38,37,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
39,12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
40,2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
41,7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
42,38,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
43,16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0