In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.metrics import mean_squared_error
from sklearn.svm import LinearSVR
from sklearn.model_selection import cross_validate
from sklearn.model_selection import KFold
from sklearn.preprocessing import LabelEncoder
import numpy as np

In [35]:
df = pd.read_csv("../data/location3.csv").drop(columns =["id","types"], axis=1)

df

types_cols = [col for col in df.columns if col.startswith("type")]

df[types_cols] = df[types_cols].apply(lambda s: s.str.lstrip())

unique_values = set()

# for col in types_cols:
#     unique_values = unique_values.union(set(df["types1"].values))

for col in types_cols:
    unique_values = unique_values.union(set(df[col].values))
    
df["types"] = df[types_cols].apply(lambda row: set(row), axis=1)

boolean_features = {}

for category in unique_values:
    boolean_features[category] = df["types"].apply(lambda s: category in s)
    
boolean_df = pd.DataFrame(boolean_features)

boolean_df

df = pd.concat([df, boolean_df], axis=1).drop([*types_cols, "types"], axis=1)
df.columns

Index([                   'name',                  'rating',
            'user_ratings_total',                'latitude',
                     'longitude',         'latitude_region',
                             nan,            'liquor_store',
                      'aquarium',              'restaurant',
                   'supermarket',                  'bakery',
                     'hair_care',                'cemetery',
                          'park',        'place_of_worship',
                 'shopping_mall', 'local_government_office',
                 'travel_agency',                    'food',
                       'finance',       'point_of_interest',
                           'bar',      'tourist_attraction',
                 'establishment',                  'museum',
               'natural_feature',                    'cafe',
                    'night_club',  'grocery_or_supermarket',
                         'store',                'car_wash',
                 'meal_delivery',      'real_estate_agency',
                   'art_gallery',           'jewelry_store',
                   'gas_station',              'car_repair',
                        'church',        'home_goods_store',
                 'movie_theater',           'meal_takeaway',
                'clothing_store'],
      dtype='object')

In [36]:
df

,name,rating,user_ratings_total,latitude,longitude,latitude_region,NaN,liquor_store,aquarium,restaurant,...,real_estate_agency,art_gallery,jewelry_store,gas_station,car_repair,church,home_goods_store,movie_theater,meal_takeaway,clothing_store
0,Mikado Ryotei,4.5,369.0,30.373440,-97.724686,North,True,False,False,True,...,False,False,False,False,False,False,False,False,False,False
1,Earl J. Pomerleau Pocket Park,4.3,6.0,30.318483,-97.686791,North,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,La Placita,4.4,241.0,30.194589,-97.745189,Central,True,False,False,True,...,False,False,False,False,False,False,False,False,False,False
3,Dittmar District Park,4.4,297.0,30.182571,-97.799721,Central,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,Rosa's Caf√© & Tortilla Factory,4.2,1305.0,30.171329,-97.799098,Central,True,False,False,True,...,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
382,Heritage Oaks Neighborhood Park,4.7,43.0,30.234326,-97.737227,North,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
383,Centre North,3.6,16.0,30.351838,-97.709802,North,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
384,Oak Acres,4.8,5.0,30.237034,-97.846914,North,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
385,Burgerlicious,5.0,18.0,30.272704,-97.728530,North,True,False,False,True,...,False,False,False,False,False,False,False,False,False,False
386,P Men's Club,5.0,5.0,30.219131,-97.758263,North,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [37]:
df.iloc[1]

name                       Earl J. Pomerleau Pocket Park
rating                                               4.3
user_ratings_total                                     6
latitude                                         30.3185
longitude                                       -97.6868
latitude_region                                    North
NaN                                                 True
liquor_store                                       False
aquarium                                           False
restaurant                                         False
supermarket                                        False
bakery                                             False
hair_care                                          False
cemetery                                           False
park                                                True
place_of_worship                                   False
shopping_mall                                      False
local_government_office                            False
travel_agency                                      False
food                                               False
finance                                            False
point_of_interest                                   True
bar                                                False
tourist_attraction                                 False
establishment                                       True
museum                                             False
natural_feature                                    False
cafe                                               False
night_club                                         False
grocery_or_supermarket                             False
store                                              False
car_wash                                           False
meal_delivery                                      False
real_estate_agency                                 False
art_gallery                                        False
jewelry_store                                      False
gas_station                                        False
car_repair                                         False
church                                             False
home_goods_store                                   False
movie_theater                                      False
meal_takeaway                                      False
clothing_store                                     False
Name: 1, dtype: object

In [ ]:
target = "rating"

In [ ]:
# X = df.drop(
#     columns=[
#         "id",
#         "rating",
#         "types1",
#         "types2",
#         "types3",
#         "types4",
#         "types5",
#         "types6",
#         "types7",
#         "latitude_region",
#         "types",
#     ],
#     axis=1,
# ).values
# y = df[target].values

In [ ]:
# X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=20)

In [ ]:
# linear_regression = LinearRegression()

In [ ]:
# linear_regression.fit(X_train, y_train)

In [ ]:
# y_test_pred = linear_regression.predict(X_test)

In [ ]:
# mean_squared_error(y_test, y_test_pred)

In [ ]:
# decsion_tree = DecisionTreeRegressor()
# decsion_tree.fit(X_train, y_train)
# y_test_pred = decsion_tree.predict(X_test)
# mean_squared_error(y_test, y_test_pred)

In [ ]:
# random_forest = RandomForestRegressor()
# random_forest.fit(X_train, y_train)
# y_test_pred = random_forest.predict(X_test)
# mean_squared_error(y_test, y_test_pred)

In [ ]:
# svr = LinearSVR()
# svr.fit(X_train, y_train)
# y_test_pred = svr.predict(X_test)
# mean_squared_error(y_test, y_test_pred)

In [ ]:
# la_placita = (
#     df.drop(
#         columns=[
#             "id",
#             "rating",
#             "types1",
#             "types2",
#             "types3",
#             "types4",
#             "types5",
#             "types6",
#             "types7",
#             "latitude_region",
#             "types",
#         ],
#         axis=1,
#     )
#     .loc["La Placita"]
#     .values
# )
# random_forest.predict([la_placita])

In [ ]:
X1 = df.drop(
    columns=[
        "id",
        "rating",
        "types1",
        "types2",
        "types3",
        "types4",
        "types5",
        "types6",
        "types7",
        "latitude_region",
    ],
    axis=1
)
y1 = df[target].values

In [ ]:
# X1_train, X1_test, y1_train, y1_test = train_test_split(X1, y1, random_state=20)

In [ ]:
# random_forest = RandomForestRegressor()
# random_forest.fit(X1_train, y1_train)
# y1_test_pred = random_forest.predict(X1_test)
# mean_squared_error(y1_test, y1_test_pred)

In [ ]:
X1

In [ ]:
X1.columns

In [ ]:
# df["types"] = df["types"].astype("category")

In [ ]:
# enc = OneHotEncoder(handle_unknown='ignore')

In [ ]:
# enc_df = pd.DataFrame(enc.fit_transform(df[["types"]]).toarray())

In [ ]:
# df = df.join(enc_df)

In [ ]:
# df.to_csv("one_hot_encode.csv")