In [1]:

import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.metrics import mean_squared_error
from sklearn.svm import LinearSVR
from sklearn.model_selection import cross_validate
from sklearn.model_selection import KFold
from sklearn.preprocessing import LabelEncoder
import numpy as np

In [2]:
df = pd.read_csv("../data/location3.csv")

In [3]:
df["types2"] = df["types2"].str.lstrip()
df["types3"] = df["types3"].str.lstrip()
df["types4"] = df["types4"].str.lstrip()
df["types5"] = df["types5"].str.lstrip()
df["types6"] = df["types6"].str.lstrip()
df["types7"] = df["types7"].str.lstrip()

In [4]:
column_values = df[["types1","types2"]].values.ravel()

In [5]:
unique_values = pd.unique(column_values)
unique_values

array(['bar', 'restaurant', 'park', 'point_of_interest', 'food',
       'tourist_attraction', 'meal_takeaway', 'establishment', 'cemetery',
       'shopping_mall', 'car_repair', 'museum', 'art_gallery',
       'clothing_store', 'night_club', 'aquarium', 'bakery',
       'home_goods_store', 'travel_agency', 'church', 'place_of_worship',
       'hair_care', 'jewelry_store', 'cafe', 'natural_feature',
       'car_wash', 'real_estate_agency', 'meal_delivery',
       'grocery_or_supermarket', 'supermarket', 'gas_station',
       'movie_theater', 'finance', 'local_government_office'],
      dtype=object)

In [6]:
df

,id,name,rating,user_ratings_total,latitude,longitude,types1,types2,types3,types4,types5,types6,types7,latitude_region,types
0,706,Mikado Ryotei,4.5,369.0,30.373440,-97.724686,bar,restaurant,food,point_of_interest,establishment,NaN,NaN,North,"bar, restaurant, food, point_of_interest, esta..."
1,708,Earl J. Pomerleau Pocket Park,4.3,6.0,30.318483,-97.686791,park,point_of_interest,establishment,NaN,NaN,NaN,NaN,North,"park, point_of_interest, establishment"
2,716,La Placita,4.4,241.0,30.194589,-97.745189,restaurant,food,point_of_interest,establishment,NaN,NaN,NaN,Central,"restaurant, food, point_of_interest, establish..."
3,717,Dittmar District Park,4.4,297.0,30.182571,-97.799721,park,tourist_attraction,point_of_interest,establishment,NaN,NaN,NaN,Central,"park, tourist_attraction, point_of_interest, e..."
4,719,Rosa's Café & Tortilla Factory,4.2,1305.0,30.171329,-97.799098,restaurant,meal_takeaway,food,point_of_interest,establishment,NaN,NaN,Central,"restaurant, meal_takeaway, food, point_of_inte..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
382,378,Heritage Oaks Neighborhood Park,4.7,43.0,30.234326,-97.737227,park,tourist_attraction,point_of_interest,establishment,NaN,NaN,NaN,North,"park, tourist_attraction, point_of_interest, e..."
383,287,Centre North,3.6,16.0,30.351838,-97.709802,shopping_mall,point_of_interest,establishment,NaN,NaN,NaN,NaN,North,"shopping_mall, point_of_interest, establishment"
384,565,Oak Acres,4.8,5.0,30.237034,-97.846914,shopping_mall,point_of_interest,establishment,NaN,NaN,NaN,NaN,North,"shopping_mall, point_of_interest, establishment"
385,260,Burgerlicious,5.0,18.0,30.272704,-97.728530,restaurant,food,point_of_interest,establishment,NaN,NaN,NaN,North,"restaurant, food, point_of_interest, establish..."
386,580,P Men's Club,5.0,5.0,30.219131,-97.758263,bar,point_of_interest,establishment,NaN,NaN,NaN,NaN,North,"bar, point_of_interest, establishment"

In [7]:
column_names = ["types1", "types2", "types3", "types4", "types5", "types6", "types7"]

In [8]:
for i in unique_values:
    df[i]= 0
    
df

,id,name,rating,user_ratings_total,latitude,longitude,types1,types2,types3,types4,...,natural_feature,car_wash,real_estate_agency,meal_delivery,grocery_or_supermarket,supermarket,gas_station,movie_theater,finance,local_government_office
0,706,Mikado Ryotei,4.5,369.0,30.373440,-97.724686,bar,restaurant,food,point_of_interest,...,0,0,0,0,0,0,0,0,0,0
1,708,Earl J. Pomerleau Pocket Park,4.3,6.0,30.318483,-97.686791,park,point_of_interest,establishment,NaN,...,0,0,0,0,0,0,0,0,0,0
2,716,La Placita,4.4,241.0,30.194589,-97.745189,restaurant,food,point_of_interest,establishment,...,0,0,0,0,0,0,0,0,0,0
3,717,Dittmar District Park,4.4,297.0,30.182571,-97.799721,park,tourist_attraction,point_of_interest,establishment,...,0,0,0,0,0,0,0,0,0,0
4,719,Rosa's Café & Tortilla Factory,4.2,1305.0,30.171329,-97.799098,restaurant,meal_takeaway,food,point_of_interest,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
382,378,Heritage Oaks Neighborhood Park,4.7,43.0,30.234326,-97.737227,park,tourist_attraction,point_of_interest,establishment,...,0,0,0,0,0,0,0,0,0,0
383,287,Centre North,3.6,16.0,30.351838,-97.709802,shopping_mall,point_of_interest,establishment,NaN,...,0,0,0,0,0,0,0,0,0,0
384,565,Oak Acres,4.8,5.0,30.237034,-97.846914,shopping_mall,point_of_interest,establishment,NaN,...,0,0,0,0,0,0,0,0,0,0
385,260,Burgerlicious,5.0,18.0,30.272704,-97.728530,restaurant,food,point_of_interest,establishment,...,0,0,0,0,0,0,0,0,0,0
386,580,P Men's Club,5.0,5.0,30.219131,-97.758263,bar,point_of_interest,establishment,NaN,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
boolean_features ={}

for category in possible_categories:
    boolean_features[category] = df[types].apply(lambda l: category in l)

In [9]:
for j in column_names:
    index = 0
    for i in unique_values:
        if i == df[j][index]:
            df.at[index, i] = 1  
            index +=1
        else:
            index +=1

In [10]:
df.iloc[0]

id                                                                       706
name                                                           Mikado Ryotei
rating                                                                   4.5
user_ratings_total                                                       369
latitude                                                             30.3734
longitude                                                           -97.7247
types1                                                                   bar
types2                                                            restaurant
types3                                                                  food
types4                                                     point_of_interest
types5                                                         establishment
types6                                                                   NaN
types7                                                                   NaN
latitude_region                                                        North
types                      bar, restaurant, food, point_of_interest, esta...
bar                                                                        1
restaurant                                                                 0
park                                                                       0
point_of_interest                                                          0
food                                                                       0
tourist_attraction                                                         0
meal_takeaway                                                              0
establishment                                                              0
cemetery                                                                   0
shopping_mall                                                              0
car_repair                                                                 0
museum                                                                     0
art_gallery                                                                0
clothing_store                                                             0
night_club                                                                 0
aquarium                                                                   0
bakery                                                                     0
home_goods_store                                                           0
travel_agency                                                              0
church                                                                     0
place_of_worship                                                           0
hair_care                                                                  0
jewelry_store                                                              0
cafe                                                                       0
natural_feature                                                            0
car_wash                                                                   0
real_estate_agency                                                         0
meal_delivery                                                              0
grocery_or_supermarket                                                     0
supermarket                                                                0
gas_station                                                                0
movie_theater                                                              0
finance                                                                    0
local_government_office                                                    0
Name: 0, dtype: object

In [11]:
types_list=df.types.unique()
types_list

array(['bar, restaurant, food, point_of_interest, establishment',
       'park, point_of_interest, establishment',
       'restaurant, food, point_of_interest, establishment',
       'park, tourist_attraction, point_of_interest, establishment',
       'restaurant, meal_takeaway, food, point_of_interest, establishment',
       'point_of_interest, establishment',
       'cemetery, tourist_attraction, park, point_of_interest, establishment',
       'shopping_mall, point_of_interest, establishment',
       'car_repair, point_of_interest, store, establishment',
       'restaurant, food, point_of_interest, store, establishment',
       'tourist_attraction, point_of_interest, establishment',
       'restaurant, bar, food, point_of_interest, establishment',
       'tourist_attraction, park, point_of_interest, establishment',
       'bar, point_of_interest, establishment',
       'bar, restaurant, food, point_of_interest, store, establishment',
       'tourist_attraction, museum, point_of_interest, establishment',
       'museum, tourist_attraction, point_of_interest, establishment',
       'art_gallery, tourist_attraction, museum, point_of_interest, establishment',
       'point_of_interest, clothing_store, store, establishment',
       'museum, point_of_interest, establishment',
       'night_club, meal_takeaway, bar, restaurant, food, point_of_interest, establishment',
       'aquarium, tourist_attraction, museum, point_of_interest, establishment',
       'bakery, restaurant, food, point_of_interest, store, establishment',
       'home_goods_store, point_of_interest, clothing_store, store, establishment',
       'tourist_attraction, travel_agency, point_of_interest, establishment',
       'meal_takeaway, restaurant, food, point_of_interest, establishment',
       'church, place_of_worship, point_of_interest, establishment',
       'hair_care, jewelry_store, point_of_interest, store, establishment',
       'meal_takeaway, cafe, restaurant, food, point_of_interest, store, establishment',
       'cafe, restaurant, food, point_of_interest, establishment',
       'tourist_attraction, natural_feature, point_of_interest, establishment',
       'shopping_mall, car_wash, point_of_interest, establishment',
       'real_estate_agency, point_of_interest, establishment',
       'meal_delivery, meal_takeaway, restaurant, food, point_of_interest, establishment',
       'restaurant, cafe, food, point_of_interest, store, establishment',
       'shopping_mall, grocery_or_supermarket, restaurant, food, point_of_interest, store, establishment',
       'supermarket, gas_station, grocery_or_supermarket, liquor_store, restaurant, food, point_of_interest',
       'movie_theater, point_of_interest, establishment',
       'tourist_attraction, church, place_of_worship, point_of_interest, establishment',
       'finance, point_of_interest, store, establishment',
       'bakery, bar, restaurant, food, point_of_interest, store, establishment',
       'cafe, bar, restaurant, food, point_of_interest, store, establishment',
       'tourist_attraction, local_government_office, point_of_interest, establishment',
       'meal_takeaway, bar, restaurant, food, point_of_interest, establishment'],
      dtype=object)

In [12]:
# index=1
# types_dict={}
# for i in types_list:
#     types_dict[index]=i
#     index+=1

In [13]:
# types_dict

In [14]:
# df=df.assign(
#         types=lambda df: df["types"].replace(
#             types_dict)
#         )

In [15]:
df

,id,name,rating,user_ratings_total,latitude,longitude,types1,types2,types3,types4,...,natural_feature,car_wash,real_estate_agency,meal_delivery,grocery_or_supermarket,supermarket,gas_station,movie_theater,finance,local_government_office
0,706,Mikado Ryotei,4.5,369.0,30.373440,-97.724686,bar,restaurant,food,point_of_interest,...,0,0,0,0,0,0,0,0,0,0
1,708,Earl J. Pomerleau Pocket Park,4.3,6.0,30.318483,-97.686791,park,point_of_interest,establishment,NaN,...,0,0,0,0,0,0,0,0,0,0
2,716,La Placita,4.4,241.0,30.194589,-97.745189,restaurant,food,point_of_interest,establishment,...,0,0,0,0,0,0,0,0,0,0
3,717,Dittmar District Park,4.4,297.0,30.182571,-97.799721,park,tourist_attraction,point_of_interest,establishment,...,0,0,0,0,0,0,0,0,0,0
4,719,Rosa's Café & Tortilla Factory,4.2,1305.0,30.171329,-97.799098,restaurant,meal_takeaway,food,point_of_interest,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
382,378,Heritage Oaks Neighborhood Park,4.7,43.0,30.234326,-97.737227,park,tourist_attraction,point_of_interest,establishment,...,0,0,0,0,0,0,0,0,0,0
383,287,Centre North,3.6,16.0,30.351838,-97.709802,shopping_mall,point_of_interest,establishment,NaN,...,0,0,0,0,0,0,0,0,0,0
384,565,Oak Acres,4.8,5.0,30.237034,-97.846914,shopping_mall,point_of_interest,establishment,NaN,...,0,0,0,0,0,0,0,0,0,0
385,260,Burgerlicious,5.0,18.0,30.272704,-97.728530,restaurant,food,point_of_interest,establishment,...,0,0,0,0,0,0,0,0,0,0
386,580,P Men's Club,5.0,5.0,30.219131,-97.758263,bar,point_of_interest,establishment,NaN,...,0,0,0,0,0,0,0,0,0,0

In [16]:
# index=1
# types_dict={}
# for i in types_list:
#     types_dict[i]=index
#     index+=1

In [17]:
# types_dict

In [18]:
# df=df.assign(
#         types=lambda df: df["types"].replace(
#             types_dict)
#         )

In [19]:
df

,id,name,rating,user_ratings_total,latitude,longitude,types1,types2,types3,types4,...,natural_feature,car_wash,real_estate_agency,meal_delivery,grocery_or_supermarket,supermarket,gas_station,movie_theater,finance,local_government_office
0,706,Mikado Ryotei,4.5,369.0,30.373440,-97.724686,bar,restaurant,food,point_of_interest,...,0,0,0,0,0,0,0,0,0,0
1,708,Earl J. Pomerleau Pocket Park,4.3,6.0,30.318483,-97.686791,park,point_of_interest,establishment,NaN,...,0,0,0,0,0,0,0,0,0,0
2,716,La Placita,4.4,241.0,30.194589,-97.745189,restaurant,food,point_of_interest,establishment,...,0,0,0,0,0,0,0,0,0,0
3,717,Dittmar District Park,4.4,297.0,30.182571,-97.799721,park,tourist_attraction,point_of_interest,establishment,...,0,0,0,0,0,0,0,0,0,0
4,719,Rosa's Café & Tortilla Factory,4.2,1305.0,30.171329,-97.799098,restaurant,meal_takeaway,food,point_of_interest,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
382,378,Heritage Oaks Neighborhood Park,4.7,43.0,30.234326,-97.737227,park,tourist_attraction,point_of_interest,establishment,...,0,0,0,0,0,0,0,0,0,0
383,287,Centre North,3.6,16.0,30.351838,-97.709802,shopping_mall,point_of_interest,establishment,NaN,...,0,0,0,0,0,0,0,0,0,0
384,565,Oak Acres,4.8,5.0,30.237034,-97.846914,shopping_mall,point_of_interest,establishment,NaN,...,0,0,0,0,0,0,0,0,0,0
385,260,Burgerlicious,5.0,18.0,30.272704,-97.728530,restaurant,food,point_of_interest,establishment,...,0,0,0,0,0,0,0,0,0,0
386,580,P Men's Club,5.0,5.0,30.219131,-97.758263,bar,point_of_interest,establishment,NaN,...,0,0,0,0,0,0,0,0,0,0

In [20]:
target = "rating"

In [21]:
# X = df.drop(
#     columns=[
#         "id",
#         "rating",
#         "types1",
#         "types2",
#         "types3",
#         "types4",
#         "types5",
#         "types6",
#         "types7",
#         "latitude_region",
#         "types",
#     ],
#     axis=1,
# ).values
# y = df[target].values

In [22]:
# X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=20)

In [23]:
# linear_regression = LinearRegression()

In [24]:
# linear_regression.fit(X_train, y_train)

In [25]:
# y_test_pred = linear_regression.predict(X_test)

In [26]:
# mean_squared_error(y_test, y_test_pred)

In [27]:
# decsion_tree = DecisionTreeRegressor()
# decsion_tree.fit(X_train, y_train)
# y_test_pred = decsion_tree.predict(X_test)
# mean_squared_error(y_test, y_test_pred)

In [28]:
# random_forest = RandomForestRegressor()
# random_forest.fit(X_train, y_train)
# y_test_pred = random_forest.predict(X_test)
# mean_squared_error(y_test, y_test_pred)

In [29]:
# svr = LinearSVR()
# svr.fit(X_train, y_train)
# y_test_pred = svr.predict(X_test)
# mean_squared_error(y_test, y_test_pred)

In [30]:
# la_placita = (
#     df.drop(
#         columns=[
#             "id",
#             "rating",
#             "types1",
#             "types2",
#             "types3",
#             "types4",
#             "types5",
#             "types6",
#             "types7",
#             "latitude_region",
#             "types",
#         ],
#         axis=1,
#     )
#     .loc["La Placita"]
#     .values
# )
# random_forest.predict([la_placita])

In [31]:
X1 = df.drop(
    columns=[
        "id",
        "rating",
        "types1",
        "types2",
        "types3",
        "types4",
        "types5",
        "types6",
        "types7",
        "latitude_region",
    ],
    axis=1
)
y1 = df[target].values

In [32]:
# X1_train, X1_test, y1_train, y1_test = train_test_split(X1, y1, random_state=20)

In [33]:
# random_forest = RandomForestRegressor()
# random_forest.fit(X1_train, y1_train)
# y1_test_pred = random_forest.predict(X1_test)
# mean_squared_error(y1_test, y1_test_pred)

In [34]:
X1

,name,user_ratings_total,latitude,longitude,types,bar,restaurant,park,point_of_interest,food,...,natural_feature,car_wash,real_estate_agency,meal_delivery,grocery_or_supermarket,supermarket,gas_station,movie_theater,finance,local_government_office
0,Mikado Ryotei,369.0,30.373440,-97.724686,"bar, restaurant, food, point_of_interest, esta...",1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Earl J. Pomerleau Pocket Park,6.0,30.318483,-97.686791,"park, point_of_interest, establishment",0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,La Placita,241.0,30.194589,-97.745189,"restaurant, food, point_of_interest, establish...",0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Dittmar District Park,297.0,30.182571,-97.799721,"park, tourist_attraction, point_of_interest, e...",0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,Rosa's Café & Tortilla Factory,1305.0,30.171329,-97.799098,"restaurant, meal_takeaway, food, point_of_inte...",0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
382,Heritage Oaks Neighborhood Park,43.0,30.234326,-97.737227,"park, tourist_attraction, point_of_interest, e...",0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
383,Centre North,16.0,30.351838,-97.709802,"shopping_mall, point_of_interest, establishment",0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
384,Oak Acres,5.0,30.237034,-97.846914,"shopping_mall, point_of_interest, establishment",0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
385,Burgerlicious,18.0,30.272704,-97.728530,"restaurant, food, point_of_interest, establish...",0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
386,P Men's Club,5.0,30.219131,-97.758263,"bar, point_of_interest, establishment",0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [35]:
X1.columns

Index(['name', 'user_ratings_total', 'latitude', 'longitude', 'types', 'bar',
       'restaurant', 'park', 'point_of_interest', 'food', 'tourist_attraction',
       'meal_takeaway', 'establishment', 'cemetery', 'shopping_mall',
       'car_repair', 'museum', 'art_gallery', 'clothing_store', 'night_club',
       'aquarium', 'bakery', 'home_goods_store', 'travel_agency', 'church',
       'place_of_worship', 'hair_care', 'jewelry_store', 'cafe',
       'natural_feature', 'car_wash', 'real_estate_agency', 'meal_delivery',
       'grocery_or_supermarket', 'supermarket', 'gas_station', 'movie_theater',
       'finance', 'local_government_office'],
      dtype='object')

In [36]:
# df["types"] = df["types"].astype("category")

In [37]:
# enc = OneHotEncoder(handle_unknown='ignore')

In [38]:
# enc_df = pd.DataFrame(enc.fit_transform(df[["types"]]).toarray())

In [39]:
# df = df.join(enc_df)

In [40]:
# df.to_csv("one_hot_encode.csv")

In [41]:
cf = ColumnTransformer(
    [
        ("numerical", "passthrough", ["user_ratings_total", "latitude", "longitude"],),
        ("categorical", OneHotEncoder(drop="first"), ["types"]),
    ]
)

In [42]:
random_forest_pipeline = make_pipeline(cf, RandomForestRegressor())

In [43]:
k_fold = KFold(n_splits=6, shuffle=True, random_state=42)

In [44]:
cross_validate(
    random_forest_pipeline, X1, y1, scoring="neg_mean_squared_error", cv=k_fold
)["test_score"].mean()

ValueError: Found unknown categories ['meal_delivery, meal_takeaway, restaurant, food, point_of_interest, establishment', 'church, place_of_worship, point_of_interest, establishment', 'tourist_attraction, natural_feature, point_of_interest, establishment', 'home_goods_store, point_of_interest, clothing_store, store, establishment'] in column 0 during transform

In [ ]:
types = types_list
types_df = pd.DataFrame(types, columns=["type"])

In [ ]:
labelencoder = LabelEncoder()

In [ ]:
df["types"]=labelencoder.fit_transform(df["types"])

In [ ]:
df

In [ ]:
enc = OneHotEncoder(drop="first")

In [ ]:
enc_df=pd.DataFrame(enc.fit_transform(df[["types"]]).toarray())

In [ ]:
enc_df

In [ ]:
df = df.join(enc_df)

In [ ]:
df = df.set_index("name")

In [ ]:
df

In [ ]:
# cf = ColumnTransformer(
#     [
#         ("numerical", "passthrough", ["user_ratings_total", "latitude", "longitude"],),
#         ("categorical", OneHotEncoder(drop="first"), ["types"]),
#     ]
# )

In [ ]:
# random_forest_pipeline = make_pipeline(cf, RandomForestRegressor())