In [1]:

import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.metrics import mean_squared_error
from sklearn.svm import LinearSVR
from sklearn.model_selection import cross_validate
from sklearn.model_selection import KFold

In [2]:
df = pd.read_csv("../data/location3.csv").set_index("name")

In [3]:
df

,id,rating,user_ratings_total,latitude,longitude,types1,types2,types3,types4,types5,types6,types7,latitude_region,types
name,,,,,,,,,,,,,,
Mikado Ryotei,706,4.5,369.0,30.373440,-97.724686,bar,restaurant,food,point_of_interest,establishment,NaN,NaN,North,"bar, restaurant, food, point_of_interest, esta..."
Earl J. Pomerleau Pocket Park,708,4.3,6.0,30.318483,-97.686791,park,point_of_interest,establishment,NaN,NaN,NaN,NaN,North,"park, point_of_interest, establishment"
La Placita,716,4.4,241.0,30.194589,-97.745189,restaurant,food,point_of_interest,establishment,NaN,NaN,NaN,Central,"restaurant, food, point_of_interest, establish..."
Dittmar District Park,717,4.4,297.0,30.182571,-97.799721,park,tourist_attraction,point_of_interest,establishment,NaN,NaN,NaN,Central,"park, tourist_attraction, point_of_interest, e..."
Rosa's Café & Tortilla Factory,719,4.2,1305.0,30.171329,-97.799098,restaurant,meal_takeaway,food,point_of_interest,establishment,NaN,NaN,Central,"restaurant, meal_takeaway, food, point_of_inte..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Heritage Oaks Neighborhood Park,378,4.7,43.0,30.234326,-97.737227,park,tourist_attraction,point_of_interest,establishment,NaN,NaN,NaN,North,"park, tourist_attraction, point_of_interest, e..."
Centre North,287,3.6,16.0,30.351838,-97.709802,shopping_mall,point_of_interest,establishment,NaN,NaN,NaN,NaN,North,"shopping_mall, point_of_interest, establishment"
Oak Acres,565,4.8,5.0,30.237034,-97.846914,shopping_mall,point_of_interest,establishment,NaN,NaN,NaN,NaN,North,"shopping_mall, point_of_interest, establishment"
Burgerlicious,260,5.0,18.0,30.272704,-97.728530,restaurant,food,point_of_interest,establishment,NaN,NaN,NaN,North,"restaurant, food, point_of_interest, establish..."
P Men's Club,580,5.0,5.0,30.219131,-97.758263,bar,point_of_interest,establishment,NaN,NaN,NaN,NaN,North,"bar, point_of_interest, establishment"

In [4]:
types_list=df.types.unique()

In [5]:
index=1
types_dict={}
for i in types_list:
    types_dict[index]=i
    index+=1

In [6]:
types_dict

{1: 'bar, restaurant, food, point_of_interest, establishment',
 2: 'park, point_of_interest, establishment',
 3: 'restaurant, food, point_of_interest, establishment',
 4: 'park, tourist_attraction, point_of_interest, establishment',
 5: 'restaurant, meal_takeaway, food, point_of_interest, establishment',
 6: 'point_of_interest, establishment',
 7: 'cemetery, tourist_attraction, park, point_of_interest, establishment',
 8: 'shopping_mall, point_of_interest, establishment',
 9: 'car_repair, point_of_interest, store, establishment',
 10: 'restaurant, food, point_of_interest, store, establishment',
 11: 'tourist_attraction, point_of_interest, establishment',
 12: 'restaurant, bar, food, point_of_interest, establishment',
 13: 'tourist_attraction, park, point_of_interest, establishment',
 14: 'bar, point_of_interest, establishment',
 15: 'bar, restaurant, food, point_of_interest, store, establishment',
 16: 'tourist_attraction, museum, point_of_interest, establishment',
 17: 'museum, tourist_attraction, point_of_interest, establishment',
 18: 'art_gallery, tourist_attraction, museum, point_of_interest, establishment',
 19: 'point_of_interest, clothing_store, store, establishment',
 20: 'museum, point_of_interest, establishment',
 21: 'night_club, meal_takeaway, bar, restaurant, food, point_of_interest, establishment',
 22: 'aquarium, tourist_attraction, museum, point_of_interest, establishment',
 23: 'bakery, restaurant, food, point_of_interest, store, establishment',
 24: 'home_goods_store, point_of_interest, clothing_store, store, establishment',
 25: 'tourist_attraction, travel_agency, point_of_interest, establishment',
 26: 'meal_takeaway, restaurant, food, point_of_interest, establishment',
 27: 'church, place_of_worship, point_of_interest, establishment',
 28: 'hair_care, jewelry_store, point_of_interest, store, establishment',
 29: 'meal_takeaway, cafe, restaurant, food, point_of_interest, store, establishment',
 30: 'cafe, restaurant, food, point_of_interest, establishment',
 31: 'tourist_attraction, natural_feature, point_of_interest, establishment',
 32: 'shopping_mall, car_wash, point_of_interest, establishment',
 33: 'real_estate_agency, point_of_interest, establishment',
 34: 'meal_delivery, meal_takeaway, restaurant, food, point_of_interest, establishment',
 35: 'restaurant, cafe, food, point_of_interest, store, establishment',
 36: 'shopping_mall, grocery_or_supermarket, restaurant, food, point_of_interest, store, establishment',
 37: 'supermarket, gas_station, grocery_or_supermarket, liquor_store, restaurant, food, point_of_interest',
 38: 'movie_theater, point_of_interest, establishment',
 39: 'tourist_attraction, church, place_of_worship, point_of_interest, establishment',
 40: 'finance, point_of_interest, store, establishment',
 41: 'bakery, bar, restaurant, food, point_of_interest, store, establishment',
 42: 'cafe, bar, restaurant, food, point_of_interest, store, establishment',
 43: 'tourist_attraction, local_government_office, point_of_interest, establishment',
 44: 'meal_takeaway, bar, restaurant, food, point_of_interest, establishment'}

In [7]:
df=df.assign(
        types=lambda df: df["types"].replace(
            types_dict)
        )

In [8]:
df

,id,rating,user_ratings_total,latitude,longitude,types1,types2,types3,types4,types5,types6,types7,latitude_region,types
name,,,,,,,,,,,,,,
Mikado Ryotei,706,4.5,369.0,30.373440,-97.724686,bar,restaurant,food,point_of_interest,establishment,NaN,NaN,North,"bar, restaurant, food, point_of_interest, esta..."
Earl J. Pomerleau Pocket Park,708,4.3,6.0,30.318483,-97.686791,park,point_of_interest,establishment,NaN,NaN,NaN,NaN,North,"park, point_of_interest, establishment"
La Placita,716,4.4,241.0,30.194589,-97.745189,restaurant,food,point_of_interest,establishment,NaN,NaN,NaN,Central,"restaurant, food, point_of_interest, establish..."
Dittmar District Park,717,4.4,297.0,30.182571,-97.799721,park,tourist_attraction,point_of_interest,establishment,NaN,NaN,NaN,Central,"park, tourist_attraction, point_of_interest, e..."
Rosa's Café & Tortilla Factory,719,4.2,1305.0,30.171329,-97.799098,restaurant,meal_takeaway,food,point_of_interest,establishment,NaN,NaN,Central,"restaurant, meal_takeaway, food, point_of_inte..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Heritage Oaks Neighborhood Park,378,4.7,43.0,30.234326,-97.737227,park,tourist_attraction,point_of_interest,establishment,NaN,NaN,NaN,North,"park, tourist_attraction, point_of_interest, e..."
Centre North,287,3.6,16.0,30.351838,-97.709802,shopping_mall,point_of_interest,establishment,NaN,NaN,NaN,NaN,North,"shopping_mall, point_of_interest, establishment"
Oak Acres,565,4.8,5.0,30.237034,-97.846914,shopping_mall,point_of_interest,establishment,NaN,NaN,NaN,NaN,North,"shopping_mall, point_of_interest, establishment"
Burgerlicious,260,5.0,18.0,30.272704,-97.728530,restaurant,food,point_of_interest,establishment,NaN,NaN,NaN,North,"restaurant, food, point_of_interest, establish..."
P Men's Club,580,5.0,5.0,30.219131,-97.758263,bar,point_of_interest,establishment,NaN,NaN,NaN,NaN,North,"bar, point_of_interest, establishment"

In [9]:
index=1
types_dict={}
for i in types_list:
    types_dict[i]=index
    index+=1

In [10]:
types_dict

{'bar, restaurant, food, point_of_interest, establishment': 1,
 'park, point_of_interest, establishment': 2,
 'restaurant, food, point_of_interest, establishment': 3,
 'park, tourist_attraction, point_of_interest, establishment': 4,
 'restaurant, meal_takeaway, food, point_of_interest, establishment': 5,
 'point_of_interest, establishment': 6,
 'cemetery, tourist_attraction, park, point_of_interest, establishment': 7,
 'shopping_mall, point_of_interest, establishment': 8,
 'car_repair, point_of_interest, store, establishment': 9,
 'restaurant, food, point_of_interest, store, establishment': 10,
 'tourist_attraction, point_of_interest, establishment': 11,
 'restaurant, bar, food, point_of_interest, establishment': 12,
 'tourist_attraction, park, point_of_interest, establishment': 13,
 'bar, point_of_interest, establishment': 14,
 'bar, restaurant, food, point_of_interest, store, establishment': 15,
 'tourist_attraction, museum, point_of_interest, establishment': 16,
 'museum, tourist_attraction, point_of_interest, establishment': 17,
 'art_gallery, tourist_attraction, museum, point_of_interest, establishment': 18,
 'point_of_interest, clothing_store, store, establishment': 19,
 'museum, point_of_interest, establishment': 20,
 'night_club, meal_takeaway, bar, restaurant, food, point_of_interest, establishment': 21,
 'aquarium, tourist_attraction, museum, point_of_interest, establishment': 22,
 'bakery, restaurant, food, point_of_interest, store, establishment': 23,
 'home_goods_store, point_of_interest, clothing_store, store, establishment': 24,
 'tourist_attraction, travel_agency, point_of_interest, establishment': 25,
 'meal_takeaway, restaurant, food, point_of_interest, establishment': 26,
 'church, place_of_worship, point_of_interest, establishment': 27,
 'hair_care, jewelry_store, point_of_interest, store, establishment': 28,
 'meal_takeaway, cafe, restaurant, food, point_of_interest, store, establishment': 29,
 'cafe, restaurant, food, point_of_interest, establishment': 30,
 'tourist_attraction, natural_feature, point_of_interest, establishment': 31,
 'shopping_mall, car_wash, point_of_interest, establishment': 32,
 'real_estate_agency, point_of_interest, establishment': 33,
 'meal_delivery, meal_takeaway, restaurant, food, point_of_interest, establishment': 34,
 'restaurant, cafe, food, point_of_interest, store, establishment': 35,
 'shopping_mall, grocery_or_supermarket, restaurant, food, point_of_interest, store, establishment': 36,
 'supermarket, gas_station, grocery_or_supermarket, liquor_store, restaurant, food, point_of_interest': 37,
 'movie_theater, point_of_interest, establishment': 38,
 'tourist_attraction, church, place_of_worship, point_of_interest, establishment': 39,
 'finance, point_of_interest, store, establishment': 40,
 'bakery, bar, restaurant, food, point_of_interest, store, establishment': 41,
 'cafe, bar, restaurant, food, point_of_interest, store, establishment': 42,
 'tourist_attraction, local_government_office, point_of_interest, establishment': 43,
 'meal_takeaway, bar, restaurant, food, point_of_interest, establishment': 44}

In [11]:
df=df.assign(
        types=lambda df: df["types"].replace(
            types_dict)
        )

In [12]:
df

,id,rating,user_ratings_total,latitude,longitude,types1,types2,types3,types4,types5,types6,types7,latitude_region,types
name,,,,,,,,,,,,,,
Mikado Ryotei,706,4.5,369.0,30.373440,-97.724686,bar,restaurant,food,point_of_interest,establishment,NaN,NaN,North,1
Earl J. Pomerleau Pocket Park,708,4.3,6.0,30.318483,-97.686791,park,point_of_interest,establishment,NaN,NaN,NaN,NaN,North,2
La Placita,716,4.4,241.0,30.194589,-97.745189,restaurant,food,point_of_interest,establishment,NaN,NaN,NaN,Central,3
Dittmar District Park,717,4.4,297.0,30.182571,-97.799721,park,tourist_attraction,point_of_interest,establishment,NaN,NaN,NaN,Central,4
Rosa's Café & Tortilla Factory,719,4.2,1305.0,30.171329,-97.799098,restaurant,meal_takeaway,food,point_of_interest,establishment,NaN,NaN,Central,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Heritage Oaks Neighborhood Park,378,4.7,43.0,30.234326,-97.737227,park,tourist_attraction,point_of_interest,establishment,NaN,NaN,NaN,North,4
Centre North,287,3.6,16.0,30.351838,-97.709802,shopping_mall,point_of_interest,establishment,NaN,NaN,NaN,NaN,North,8
Oak Acres,565,4.8,5.0,30.237034,-97.846914,shopping_mall,point_of_interest,establishment,NaN,NaN,NaN,NaN,North,8
Burgerlicious,260,5.0,18.0,30.272704,-97.728530,restaurant,food,point_of_interest,establishment,NaN,NaN,NaN,North,3
P Men's Club,580,5.0,5.0,30.219131,-97.758263,bar,point_of_interest,establishment,NaN,NaN,NaN,NaN,North,14

In [13]:
target = "rating"

In [14]:
X = df.drop(
    columns=[
        "id",
        "rating",
        "types1",
        "types2",
        "types3",
        "types4",
        "types5",
        "types6",
        "types7",
        "latitude_region",
        "types",
    ],
    axis=1,
).values
y = df[target].values

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=20)

In [16]:
linear_regression = LinearRegression()

In [17]:
linear_regression.fit(X_train, y_train)

LinearRegression()

In [18]:
y_test_pred = linear_regression.predict(X_test)

In [19]:
mean_squared_error(y_test, y_test_pred)

0.39421085512325804

In [20]:
decsion_tree = DecisionTreeRegressor()
decsion_tree.fit(X_train, y_train)
y_test_pred = decsion_tree.predict(X_test)
mean_squared_error(y_test, y_test_pred)

0.6119587628865979

In [21]:
random_forest = RandomForestRegressor()
random_forest.fit(X_train, y_train)
y_test_pred = random_forest.predict(X_test)
mean_squared_error(y_test, y_test_pred)

0.28681671134020637

In [22]:
svr = LinearSVR()
svr.fit(X_train, y_train)
y_test_pred = svr.predict(X_test)
mean_squared_error(y_test, y_test_pred)

3.1247697941178565

In [23]:
la_placita = (
    df.drop(
        columns=[
            "id",
            "rating",
            "types1",
            "types2",
            "types3",
            "types4",
            "types5",
            "types6",
            "types7",
            "latitude_region",
            "types",
        ],
        axis=1,
    )
    .loc["La Placita"]
    .values
)
random_forest.predict([la_placita])

array([4.314])

In [32]:
df.values.dtype

dtype('O')

In [24]:
X1 = df.drop(
    columns=[
        "id",
        "rating",
        "types1",
        "types2",
        "types3",
        "types4",
        "types5",
        "types6",
        "types7",
        "latitude_region",
    ],
    axis=1,
).values

In [25]:
X1

array([[369.       ,  30.37344  , -97.724686 ,   1.       ],
       [  6.       ,  30.3184832, -97.6867909,   2.       ],
       [241.       ,  30.1945888, -97.7451895,   3.       ],
       ...,
       [  5.       ,  30.2370336, -97.8469136,   8.       ],
       [ 18.       ,  30.2727039, -97.7285304,   3.       ],
       [  5.       ,  30.2191314, -97.7582626,  14.       ]])

In [26]:
X1.dtype

dtype('float64')

In [27]:
cf = ColumnTransformer(
    [
        ("numerical", "passthrough", ["user_ratings_total", "latitude", "longitude"],),
        ("categorical", OneHotEncoder(drop="first"), ["types"]),
    ]
)

In [28]:
rf_pipeline = make_pipeline(cf, RandomForestRegressor())

In [29]:
# cf.get_feature_names()

In [30]:
cf.fit_transform(X1)

ValueError: Specifying the columns using strings is only supported for pandas DataFrames

In [31]:
cf.fit(X1)

ValueError: Specifying the columns using strings is only supported for pandas DataFrames